#book2-1{
	width:0px;
	height:0px;
	position: absolute;
	left:0px;
	bottom:0px;
	_transition: 1000ms;
	transform: rotate(0deg);
}
#pen2-1-1{
	width:60px;
	height:185px;
	position: absolute;
	left:72px;
	bottom:128px;
	transition: 1000ms;
	transform:scale(1.5);
}
#pen2-1-2{
	width:140px;
	height:143px;
	position: absolute;
	left:321px;
	bottom:75px;
	transition: 1000ms;
	transform:scale(1.5);
}
#cup2-1{
	width:133px;
	height:125px;
	position: absolute;
	left:0px;
	bottom:300px;
	background:url(img/read/cupbg.png) no-repeat 100% 100%;
	transition: 1000ms;
	transform: rotate(0deg);
}
#cup2-1>div:nth-of-type(1){
	width:0px;
	height:0px;
	position: absolute;
	left:59px;
	bottom:62px;
}
#cup2-1 img{
	width:100%;
	height:100%
}
#cup2-1>div:nth-of-type(2){
	border-width:0px;
	border-color: #776255;
	border-style: solid;
	border-radius: 50%;
	width:0px;
	height:0px;
	position:absolute;
	left:69px;
	top:53px;
	opacity:1;
}
#bg2-1-1{
	width:0px;
	height:0px;
	position:absolute;
	right:264px;
	bottom:72px;
	background: url(img/read/bookbg1.png) no-repeat;
}
#bg2-1-2{
	width:0px;
	height:0px;
	position:absolute;
	left:247px;
	bottom:129px;
	background: url(img/read/bookbg2.png) no-repeat;
}
#write2-1-1{
	width:104px;
	height:133px;
	border-radius: 3px;
	position:absolute;
	left:261px;
	bottom:136px;
	transform: rotate(-10deg);
	transform-origin: left bottom;
	z-index: 999;
}
.write2-1{
	background: #f0f3f7;
	position:absolute;
}

#floor2-2{
	width:0px;
	height:0px;
	position: absolute;
	right:250px;
	bottom:109px;
	background:#d1d9e8;
	opacity:0.4;
}
#computer2-2{
	width:330px;
	height:0px;
	position: absolute;
	left:91px;
	bottom:130px;
	overflow: hidden;
}
#computer2-2 img{
	width:100%;
	height:100%
}
#computer2-2>div:nth-of-type(1){
	width:308px;
	height:151px;
	position: absolute;
	left:11px;
	bottom:91px;
	overflow: hidden;
}
#computer2-2>div:nth-of-type(1) div {
	width:616px;
	height:151px;
	position: absolute;
	left:0px;
	background:  url(img/ele/computercon.png);
}
#computer2-2>div:nth-of-type(2){
	width:189px;
	height:151px;
	position: absolute;
	left:11px;
	bottom:91px;
	background:  url(img/ele/scr1.png) no-repeat;
}
#phone2-2{
	width:63px;
	height:0px;
	position: absolute;
	left:343px;
	bottom:52px;
	overflow: hidden;
}
#phone2-2 img{
	width:100%;
	height:100%
}
#phone2-2>div:nth-of-type(1){
	width:52px;
	height:86px;
	position: absolute;
	left:6px;
	bottom:28px;
	overflow: hidden;
}
#phone2-2>div:nth-of-type(1) div{
	width:104px;
	height:86px;
	position: absolute;
	left:0px;
	background:  url(img/ele/phonecon1.png) no-repeat;
}
#phone2-2>div:nth-of-type(2){
	width:49px;
	height:86px;
	position: absolute;
	left:6px;
	bottom:28px;
	background:  url(img/ele/scr3.png) no-repeat;
}
#pad2-2{
	width:121px;
	height:0px;
	position: absolute;
	left:47px;
	bottom:78px;
	overflow: hidden;
}
#pad2-2 img{
	width:100%;
	height:100%
}
#pad2-2>div:nth-of-type(1){
	width:106px;
	height:124px;
	position: absolute;
	left:8px;
	bottom:33px;
	overflow: hidden;
}
#pad2-2>div:nth-of-type(1) div{
	width:212px;
	height:124px;
	position: absolute;
	left:0px;
	background:url(img/ele/padcon1.png) no-repeat;
}
#pad2-2>div:nth-of-type(2){
	width:84px;
	height:124px;
	position: absolute;
	left:8px;
	bottom:33px;
	background:  url(img/ele/scr2.png) no-repeat;
}
#bg2-2{
	width:0px;
	height:0px;
	position: absolute;
	right:283px;
	bottom:271px;
}
#bg2-2 img{
	width:100%;
	height:100%;
}
#clock2-2-1{
	background:#cd3f42 ;
	position: absolute;
	right:47px;
	top:52px;
	transition: 1000ms;
}
#clock2-2-3{
	position: absolute;
	right:66px;
	top:70px;
	width:33px;
	height:33px;
	background:url(img/ele/clock1.png) no-repeat;
	transition: 2000ms;
	transform-origin: 12.1% 87.8%;
	transform: rotate(0deg);
}

#ban2-3{
	width:362px;
	height:0px;
	position: absolute;
	left:69px;
	bottom:0px;
}
img{
	width:100%;
	height:100%
}
#wu2-3-1{
	width:64px;
	height:16px;
	position: absolute;
	left:143px;
	bottom:300px;
	background: url(img/str/wu1.png) no-repeat;
}
#wu2-3-2{
	width:40px; 
	height:6px;
	position: absolute;
	left:300px;
	bottom:300px;
	background:#fff;
}
#bg2-3-1{
	width:0px;
	height:0px;
	position: absolute;
	right:207px;
	bottom:309px;
}
#bg2-3-2{
	width:0px;
	height:0px;
	position: absolute;
	left:402px;
	top:271px;
}
#bg2-3-3{
	width:0px;
	height:0px;
	position: absolute;
	right:402px;
	top:352px;
}
#cav2-3{
	width:224px;
	height:124px;
	position: absolute;
	left:136px;
	bottom:157px;
}

#bg3-1{
	height:500px;
	width:1000px;
	position: absolute;
	left:0;
	animation:mymove 3s infinite linear;
	-moz-animation:mymove 3s infinite linear; /* Firefox */
	-webkit-animation:mymove 3s infinite linear; /* Safari and Chrome */
	background-image:url(img/fly/star11.png);
}
@keyframes mymove
{
from {left:0px;}
to {left:-500px;}
}
@-moz-keyframes mymove /* Firefox */
{
from {left:0px;}
to {left:-500px;}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
from {left:0px;}
to {left:-500px;}
}
#ufo{
	width:127px;
	height:97px;
	background:url(img/fly/UFO1.png) no-repeat;
	position: absolute;
	right:50px;
	bottom:80px;
}
#ufo div:nth-of-type(1){
	height:53px;
	width:127px;
	background: #2b354a;
	position: absolute;
	top:0;
}
#ufo div:nth-of-type(2){
	height:33px;
	width:127px;
	background: #2b354a;
	position: absolute;
	bottom: 0;
}
#ship {
	width:126px;
	height:89px;
	background:url(img/fly/SHIP.png) no-repeat;
	position: absolute;
	top:100px;
	left:50px
}
#ship div:nth-of-type(1){
	height:49px;
	width:55px;
	background: #2b354a;
	position: absolute;
	left:0;
}
#ship div:nth-of-type(2){
	height:49px;
	width:55px;
	background: #2b354a;
	position: absolute;
	right: 0;
}
#plane1{
	height:97px;
	width:132px;
	background:url(img/fly/plane1-1.png) no-repeat;
	position: absolute;
	bottom:100px;
	left:50px;
}
#plane1 div:nth-of-type(1){
	height:51px;
	width:22px;
	background: #2b354a;
	position: absolute;
	left:0;
	top:0px
}
#plane1 div:nth-of-type(2){
	height:97px;
	width:105px;
	background: url(img/fly/plane1.png) no-repeat;
	background-position: -105px;
	position: absolute;
	right: 0;
	top:0;
}
#plane2{
	width:116px;
	height:59px;
	background:url(img/fly/plane2.png) no-repeat;
	position: absolute;
	top:100px;
	right:50px;
}
#plane2 div:nth-of-type(1){
	height:24px;
	width:116px;
	background: #2b354a;
	position: absolute;
	top:0;
}
#plane2 div:nth-of-type(2){
	height:30px;
	width:116px;
	background-color: #2b354a;
	position: absolute;
	bottom: 0;
}
#bplane{
	height:132px;
	width:330px;
	background:url(img/fly/b111.png) no-repeat;
	position: absolute;
	top:170px;
	right:50px;
}
#bplane div:nth-of-type(1){
	height:91px;
	width:330px;
	background: #2b354a;
	position: absolute;
	top:0;
}
#bplane div:nth-of-type(2){
	height:41px;
	width:330px;
	background-color: #2b354a;
	position: absolute;
	bottom: 0;
	right:0;
}
#bplane div:nth-of-type(3){
	height:43px;
	width:28px;
	background:url(img/fly/wei.png) no-repeat;
	position: absolute;
	left:0;
	top:43px;
	background-position: 28px;
}
#bplane div:nth-of-type(4){
	height:0px;
	width:99px;
	background:url(img/fly/yi.png) no-repeat;
	position: absolute;
	top:56px;
	left:47px;
	background-position: 100% 100%;
}
#bplane div:nth-of-type(5){
	height:17px;
	width:78px;
	background:url(img/fly/chuan.png) no-repeat;
	position: absolute;
	left:200px;
	top:35px;
	background-position: 84px;
}

#floor{
	width:0px;
	height:21px;
	position:absolute;
	background-color: #3c465b;
	left:250px;
	bottom:70px;
}
#stool{
	width:196px;
	height:50px;
	transform:rotate(-20deg);
	transition: 500ms;
	position:absolute;
	background: url(img/test/stool.png) no-repeat;
	left:73px;
	bottom:130px;
	-left:75px;
	-bottom:90px;
}
#bottle{
	width:162px;
	height:189px;
	position:absolute;
	bottom:180px;
	left:89px;
	transform:rotate(-20deg);
	transition: 600ms;
	-bottom:140px;
	-left:91px;
	background: url(img/test/bottle.png) no-repeat;
}
#door{
	width:152px;
	height:0px;
	position:absolute;
	bottom:282px;
	left:50px;
	background: url(img/test/door.png) no-repeat;
}
#cup{
	width:97px;
	height:0px;
	position:absolute;
	bottom:90px;
	left:315px;
	background: url(img/test/cup.png) no-repeat;
}
#red{
	width:76px;
	height:0px;
	position:absolute;
	bottom:96px;
	left:330px;
	opacity: 0.8;
	overflow: hidden;
}
#red>div:nth-of-type(1){
	width:76px;
	height:10px;
	position:absolute;
	top:0px;
	background: url(img/test/redt.png) ;
}
#red>div:nth-of-type(2){
	width:76px;
	height:19px;
	position:absolute;
	bottom:0px;
	background: url(img/test/redb.png) no-repeat;
}
#blue{
	width:162px;
	height:0px;
	position:absolute;
	left:91px;
	bottom:140px;
	opacity: 0.8;
	overflow: hidden;
}
#blue>div:nth-of-type(1){
	width:92px;
	height:4px;
	position:absolute;
	top:0px;
	left:33px;
	-opacity: 0.8;
	background: url(img/test/bluet.png) ;
}
#blue>div:nth-of-type(2){
	width:162px;
	height:86px;
	position:absolute;
	bottom:0px;
	background: url(img/test/blueb.png) no-repeat;
}
#fire{
	width:54px;
	height:0px;
	position:absolute;
	bottom:90px;
	left:146px;
}
#fire>div:nth-of-type(1){
	width:54px;
	height:5px;
	position:absolute;
	bottom:0px;
	background: #c1bfbb;
	z-index: 2;
}
#fire>div:nth-of-type(2){
	width:28px;
	height:5px;
	position:absolute;
	bottom:5px;
	left:13px;
	background: #c1bfbb;
	z-index: 2;
}
#fire>img:nth-of-type(1){
	width:13px;
	height:0px;
	position:absolute;
	left:20px;
	bottom:7px;
	display: block;
	-background: url(img/test/fire.png) no-repeat;
}
#tube{
	width:10px;
	height:0px;
	position:absolute;
	bottom:203px;
	left:163px;
	background: url(img/test/tube.png) no-repeat;
	z-index: 1;
}
#drop{
	width:0px;
	height:0px;
	position:absolute;
	left:361px;
	bottom:254px;
	display: block;
}
#bubble{
	width:85px;
	height:85px;
	position:absolute;
	/*background:#1a9af7;*/
	left:129px;
	bottom:140px;
}
#bubble>div:nth-of-type(1){
	width:26px;
	height:26px;
	border-radius: 50%;
	background:#71c0fa;
	position:absolute;
	left:30px;
	bottom:10px;
}
#bubble>div:nth-of-type(2){
	width:20px;
	height:20px;
	border-radius: 50%;
	background:#71c0fa;
	position:absolute;
	left:0px;
	bottom:15px;
}
#bubble>div:nth-of-type(3){
	width:20px;
	height:20px;
	border-radius: 50%;
	background:#71c0fa;
	position:absolute;
	left:70px;
	bottom:15px;
}
#div3{
	width:42px;
	height:76px;
	position:absolute;
	left:96px;
	bottom:169px;
	background: url(img/test/bottle1.png) no-repeat;
}
#bubble1{
	width:152px;
	height:168px;
	position:absolute ;
	left:298px;
	bottom:192px;
}
#bubble1>div:nth-of-type(1){
	width:18px;
	height:18px;
	background: #3c465b;
	border-radius: 50%;
	position:absolute;
	left:100px;
	bottom:100px;
}
#bubble1>div:nth-of-type(2){
	width:12px;
	height:12px;
	border-radius: 50%;
	border-width: 4px;
	border-style: solid;
	border-color: #3c465b;
	position:absolute;
	left:20px;
	bottom:60px;
}
#bubble1>img:nth-of-type(1){
	width:20px;
	height:19px;
	position:absolute;
	left:100px;
	bottom:200px;
}

#star3-3{
	width:0;
	height:0;
	position:absolute;
	left:250px;
	top:250px;
	opacity:1;
}
#bg3-3{
	width:0;
	height:0;
	position:absolute;
	left:250px;
	top:250px;
}
#earth3-3{
	width:0;
	height:0;
	position:absolute;
	left:250px;
	top:250px;
}
#earth3-3 img{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
#earth3-3 div:nth-of-type(1){
	width:12px;
	height:16px;
	position: absolute;
	left:47px;
	bottom:97px;
	background:url(img/earth/flag1.png) no-repeat;
	transform-origin:left bottom;
	transition:1s;
	transform: rotate(90deg);
}
#earth3-3 div:nth-of-type(2){
	width:12px;
	height:16px;
	position: absolute;
	left:128px;
	bottom:162px;
	transform-origin:left bottom;
	transition:1s;
	transform: rotate(90deg);
	background:url(img/earth/flag1.png) no-repeat;
}
#earth3-3 div:nth-of-type(3){
	width:12px;
	height:16px;
	position: absolute;
	left:142px;
	bottom:135px;
	transform-origin:left bottom;
	transition:1s;
	transform: rotate(90deg);
	background:url(img/earth/flag1.png) no-repeat;
}
#plane3-3{
	width:372px;
	height:348px;
	position:absolute;
	left:64px;
	top:76px;
}
#plane3-3>div:nth-of-type(1){
	width:89px;
	height:50px;
	position:absolute;
	left:17px;
	top:0;
	background:url(img/earth/plane2.png) no-repeat;
}
#plane3-3>div:nth-of-type(1)>div:nth-of-type(1){
	width:87px;
	height:60px;
	position:absolute;
	right:-15px;
	bottom:15px;
	background: #2b354a;
	transform: rotate(-14deg);
	transform-origin: right bottom;
}
#plane3-3>div:nth-of-type(2)>div:nth-of-type(1){
	width:93px;
	height:40px;
	position:absolute;
	right:13px;
	bottom:-14px;
	background: #2b354a;
	transform: rotate(45deg);
	transform-origin: right bottom;
}
#plane3-3>div:nth-of-type(3)>div:nth-of-type(1){
	width:97px;
	height:82px;
	position:absolute;
	left:20px;
	top:-40px;
	background: #2b354a;
	transform: rotate(45deg);
	transform-origin: left top;
}
#plane3-3>div:nth-of-type(2){
	width:93px;
	height:92px;
	position:absolute;
	right:0;
	top:4px;
	background: url(img/earth/plane3.png) no-repeat;
}
#plane3-3>div:nth-of-type(3){
	width:83px;
	height:82px;
	position:absolute;
	left:0;
	bottom:0px;
	background: url(img/earth/plane1.png) no-repeat;
}

#content4-1{
	width:600px;
}
#floor4-1{
	width:454px;
	height:42px;
	position:absolute;
	left:73px;
	bottom:76px;
}
#floor4-1>div:nth-of-type(1){
	width:0px;
	height:26px;
	position: absolute;
	left:227px;
	bottom:0px;
	background:url(img/computer/floor1.png) no-repeat;
}
#floor4-1>div:nth-of-type(2){
	width:0px;
	height:16px;
	position: absolute;
	left:227px;
	bottom:26px;
	background:url(img/computer/floor2.png) no-repeat;
}
#foot4-1{
	width:379px;
	height:0px;
	position: absolute;
	left:110px;
	bottom:76px;
	overflow: hidden;
}
#foot4-1>div:nth-of-type(1){
	width:26px;
	height:52px;
	position: absolute;
	background: #4c5663;
	left:0px;
	bottom:0px;
}
#foot4-1>div:nth-of-type(2){
	width:26px;
	height:52px;
	position: absolute;
	background: #4c5663;
	right:0px;
	bottom:0px;
}
#scr4-1{
	width:0px;
	height:30px;
	position: absolute;
	background: #2a344b;
	left:300px;
	bottom:170px;
	border-radius: 15px;
}
#scr4-1>div:nth-of-type(3){
	width:98px;
	height:137px;
	position: absolute;
	background:url(img/computer/compbo.png) no-repeat;
	left:29px;
	bottom:10px;
	border-radius: 15px;
}
#scr4-1>div:nth-of-type(1){
	width:156px;
	height:0px;
	position: absolute;
	background:url(img/computer/comp2.png) no-repeat;
	left:40px;
	bottom:22px;
}
#scr4-1>div:nth-of-type(2){
	width:178px;
	height:137px;
	position: absolute;
	overflow: hidden;
	left:29px;
	bottom:10px;
}
#scr4-1>div:nth-of-type(2)>div:nth-of-type(1){
	width:356px;
	height:137px;
	position: absolute;
	left:178px;
	bottom:0px;
}
#scr4-1>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(1){
	width:133px;
	height:68px;
	position: absolute;
	background:url(img/computer/screen21.png) no-repeat;
	left:23px;
	bottom:31px;
}
#scr4-1>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(2){
	width:133px;
	height:68px;
	position: absolute;
	background:url(img/computer/screen21.png) no-repeat;
	left:201px;
	bottom:31px;
}
#scr4-1>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(3){
	width:0px;
	height:23px;
	position: absolute;
	background:url(img/computer/screen22.png) no-repeat;
	left:81px;
	bottom:57px;
}
#scr4-1>img:nth-of-type(1){
	width:100%;
	height:100%;
}
#brace4-1{
	width:46px;
	height:0px;
	position: absolute;
	left:277px;
	bottom:170px;
	background:url(img/computer/brace.png) no-repeat;
}
#comgb4-1{
	width:0px;
	height:50px;
	position: absolute;
	left:300px;
	bottom:80px;
}
#comgb4-1 img{
	width:100%;
	height:100%
}
#comgb4-1>div:nth-of-type(1){
	width:19px;
	height:0px;
	position: absolute;
	left:130px;
	bottom:129px;
	background:url(img/computer/glass.png) no-repeat;
}
#comgb4-1>div:nth-of-type(2){
	width:48px;
	height:0px;
	position: absolute;
	left:422px;
	bottom:309px;
	background:url(img/computer/mike.png) no-repeat;
	transition: 250ms;
	transform-origin:50% 77.1% ;
	transform: rotate(0deg);
}

#sky4-2{
	width:0px;
	height:0px;
	position:absolute;
	left:227px;
	bottom:286px;
}
img{
	width:100%;
	height:100%;
}
#bike4-2{
	width:0px;
	height:0px;
	position:absolute;
	left:108px;
	bottom:47px;
}
#bike4-2>div:nth-of-type(1){
	width:49px;
	height:76px;
	position:absolute;
	left:258px;
	bottom:57px;
	overflow: hidden;
	background:url(img/hardcandy/pedal11.png) no-repeat;
	transform-origin:30.61% 80.26%;
	transform: rotate(0deg);
}
#bike4-2>div:nth-of-type(2){
	width:32px;
	height:8px;
	position:absolute;
	left:291px;
	bottom:125px;
	overflow: hidden;
	background:url(img/hardcandy/pedal2.png) no-repeat;
}

#map4-3{
	width:20px;
	height:270px;
	position:absolute;
	left:500px;
	bottom:83px;
	background: #fff;
	overflow: hidden;
}
img{
	width:100%;
	height:100%
}
#mbg4-3-1{
	width:0px;
	height:0px;
	position:absolute;
	right:264px;
	bottom:192px;
	background:url(img/tri/tribg1.png) no-repeat;
}
#mbg4-3-2{
	width:0px;
	height:0px;
	position:absolute;
	right:260px;
	bottom:150px;
	background:url(img/tri/tribg2.png) no-repeat;
}
#mbg4-3-3{
	width:0px;
	height:0px;
	position:absolute;
	left:262px;
	top:166px;
	background:url(img/tri/tribg3.png) no-repeat;
}
.po{
	position:absolute;
	width:15px;
	height:21px;
	transition: 500ms;
	transform-origin: 50% 100%;
	transform: rotate(-90deg);
}

#print5-1{
	width:355px;
	height:39px;
	position:absolute;
	left:67px;
	bottom:239px;
	overflow: hidden;
}
#print5-1>div:nth-of-type(1){
	width:0px;
	height:39px;
	position: absolute;
	left:177px;
	bottom:0;
}
#print5-1>div:nth-of-type(1)>img:nth-of-type(1){
	width:100%;
	height:100%;
}
#print5-1>div:nth-of-type(2){
	width:335px;
	height:149px;
	position: absolute;
	left:10px;
	bottom:39px;
}
.dot5-1{
	position:absolute;
	width:18px;
	height:12px;
	background: url(img/print/dot.png) no-repeat;
}
#dot5-2{
	position: absolute;
	width:132px;
	height:12px;
	background: url(img/print/dot1.png) no-repeat;
	left:100px;
	bottom:23px;
}
#paper5-1{
	width:193px;
	height:153px;
	position:absolute;
	overflow:hidden;
	left:148px;
	bottom:228px;
}
#paper5-1>div:nth-of-type(1){
	width:173px;
	height:118px;
	background:#d2d9e7;
	position:absolute;
	left:10px;
	top:-118px;
}
#paper5-1>div:nth-of-type(2){
	width:193px;
	height:102px;
	background:#fff;
	position:absolute;
	left:0;
	top:193px;
}
#paper5-1>div:nth-of-type(2)>div:nth-of-type(1){
	width:0px;
	height:4px;
	background:#d1d9e8;
	position:absolute;
	left:13px;
	top:16px;
}
#paper5-1>div:nth-of-type(2)>div:nth-of-type(2){
	width:0px;
	height:4px;
	background:#d1d9e8;
	position:absolute;
	left:13px;
	top:30px;
}
#paper5-1>div:nth-of-type(2)>div:nth-of-type(3){
	width:0px;
	height:4px;
	background:#d1d9e8;
	position:absolute;
	left:13px;
	top:44px;
}
#pbg5-1-1{
	width:0px;
	height:0px;
	position: absolute;
	left:118px;
	bottom:372px;
}
#pbg5-1-1 img{
	width:100%;
	height:100%;
}
#pbg5-1-2{
	width:0px;
	height:0px;
	position: absolute;
	left:262px;
	bottom:219px;
}
#pbg5-1-2 img{
	width:100%;
	height:100%;
}